@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<img src="~/testPics/@ViewBag.Pic" alt="Image" />
<h2>@ViewBag.Text</h2>

<hr />
<hr />
@*<img src="@Url.Action("GrayscaleImage", "Home")" alt="Grayscale Image">

<img src="@Url.Action("NoiseReducedImage", "Home")" alt="Grayscale Image">

<img src="@Url.Action("GrayscaleWithTheadImage", "Home")" alt="Grayscale Image">

<img src="@Url.Action("GrayscaleWithmEDImage", "Home")" alt="Grayscale Image">
<img src="@Url.Action("GrayscaleonstImage", "Home")" alt="Grayscale Image">

<img src="@Url.Action("EnhanceImage", "Home")" alt="Grayscale Image">


*@


